body {
  background: white;
}

.container {
  background-color: bisque;
  height: 20em; /* vh vw em rem */  
  max-width: 7em;
  display: flex;
  align-items: center;
  justify-content: stretch;
}
p {
  font-size:large;

}
