body {
  background: white;
}

.container {
  background-color: bisque;
  height: 20em; /* vh vw em rem */  
  max-width: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  padding: 0em;
}
p {
  font-size:large;
  padding: 0;

}
